{% extends 'base.html' %}
{% set active_page = "" %}

{% block meta %}
        <meta name="author" content="{{ post['author_name'] }}">
        <time datetime="{{ post['created'].strftime('%Y-%m-%d %H:%M') }}"></time>
{% endblock %}

{% block header %}
                <h1>{% block title %}News - Update #{{ post['id'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
            <article class="news_article">
                <header>
                    <div>
                        <h1>{{ post['title'] }}</h1>
                        <hr />
                        <div class="about">by {{ post['author_name'] }} on {{ post['created'].strftime('%Y-%m-%d at %H:%M') }}</div>
                    </div>
                </header>
                <p class="body">{{ post['body'] }}</p>
            </article>
            <hr />
{% endblock %}