{% extends 'base.html' %}
{% set active_page = "" %}

{% block header %}
                <h1>{% block title %}Create news article{% endblock %}</h1>
{% endblock %}

{% block content %}
            <form method="post">
                <label for="title">Title</label>
                <input name="title" id="title" value="{{ request.form['title'] }}" required />
                <label for="heading">Summary</label>
                <textarea name="heading" id="heading" rows="5" required>{{ request.form['heading'] }}</textarea>
                <label for="body">Body</label> <!--TODO: Add markdown support here-->
                <textarea name="body" id="body" required>{{ request.form['body'] }}</textarea>
                <input type="submit" value="Save" />
                <input type="reset" value="Reset" />
            </form>
{% endblock %}