{% extends 'base.html' %}
{% set active_page = "index" %}

{% block header %}
                <h1>{% block title %}News{% endblock %}</h1>
    {% if g.user and g.user['type'] >= 3 %}
                <a class="action" href="{{ url_for('news.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
            <article class="post">
                <header>
                    <div>
                        <h1><a class="header_link" href="{{ url_for('news.article', id=post['id']) }}">{{ post['title'] }}</a></h1>
                        <div class="about">
                            by {{ post['author_name'] }} on {{ post['created'].strftime('%Y-%m-%d at %H:%M') }}
                            {% if post['last_edited'] != None %}
                            <br />
                            last edited on {{ post['last_edited'].strftime('%Y-%m-%d at %H:%M') }}
                            {% endif %}
                        </div>
                    </div>
                    {% if g.user['id'] == post['author_id'] or g.user['type'] >= 4 %}
                    <a class="action" href="{{ url_for('news.update', id=post['id']) }}">Edit</a>
                    {% endif %}
                </header>
                <p class="heading">{{ post['heading'] }}</p>
            </article>
            {% if not loop.last %}
            <hr />
            {% endif %}
    {% endfor %}
{% endblock %}