<!DOCTYPE html>
{% set navigation_bar = [
    ('/', 'index', 'Home'),
    ('/game', 'game', 'Play Now'),
    ('/forums', 'forums', 'Forums'),
    ('/support', 'support', 'Support'),
    ('/career', 'career', 'Career')
] %}
{% set active_page = active_page|default('index') %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} - RunesCape (patent pending)</title>
        <meta charset="utf-8">
        <meta name="application-name" content="RunesCape">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='base_style.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="titlebar">
            <h1><a href="{{ url_for('index') }}">RunesCape</a></h1>
            <ul>
            {% if g.user %}
                <li><span>{{ g.user['username'] }}</span></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
        <nav class="navbar">
            <ul>
            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif%}>
                    <a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>
        <section class="content">
            <header>
            {% block header %}{% endblock %}
            </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        </section>
    </body>
</html>