{% extends 'base.html' %}
{% set active_page = "" %}

{% block header %}
                <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
            <form method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required />
                <input type="submit" value="Login" />
            </form>
{% endblock %}