{% extends 'base.html' %}
{% set active_page = "" %}

{% block header %}
                <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
            <form method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required />
                <label for="username">Username</label>
                <input name="username" id="username" required />
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required />
                <label for="verify-password">Re-type password</label>
                <input type="password" name="verify-password" id="verify-password" required />
                <input type="submit" value="Register" />
            </form>
{% endblock %}