{% extends 'base.html' %}
{% set active_page = "game" %}

{% block header %}
                <h1>{% block title %}Profile: {{ account['account_name'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
                <h3>This is the profile of {{ account['account_name'] }}.</h3>
{% endblock %}