{% extends 'base.html' %}
{% set active_page = "game" %}
{% set stat_list = [
    ('attack', 'Attack'),
    ('hitpoints', 'Hitpoints'),
    ('mining', 'Mining'),
    ('strength', 'Strength'),
    ('agility', 'Agility'),
    ('smithing', 'Smithing'),
    ('defence', 'Defence'),
    ('herblore', 'Herblore'),
    ('fishing', 'Fishing'),
    ('ranged', 'Ranged'),
    ('thieving', 'Thieving'),
    ('cooking', 'Cooking'),
    ('prayer', 'Prayer'),
    ('crafting', 'Crafting'),
    ('firemaking', 'Firemaking'),
    ('magic', 'Magic'),
    ('fletching', 'Fletching'),
    ('woodcutting', 'Woodcutting'),
    ('runecrafting', 'Runecrafting'),
    ('slayer', 'Slayer'),
    ('farming', 'Farming'),
    ('construction', 'Construction'),
    ('hunter', 'Hunter'),
    ('summoning', 'Summoning'),
    ('dungeoneering', 'Dungeoneering'),
    ('divination', 'Divination'),
    ('invention', 'Invention')
] %}

{% block header %}
                    <h1>{% block title %}{{ g.user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
                <article class="account new_account">
                    <header>
                        <div>
                            <h1><a href="{{ url_for('game.new_account') }}">Create new account</a></h1>
                        </div>
                    </header>
                </article>
                <hr />
    {% for account in accounts %}
                <article class="account">
                    <header>
                        <div>
                            <h1><a href="{{ url_for('game.account', id=account['id']) }}">{{ account['account_name'] }}</a></h1>
                            <div class="about">Created on {{ account['created'].strftime('%Y-%m-%d at %H:%M') }}</div>
                        </div>
                    </header>
                    <table>
                    {% for skill_row in stat_list|batch(3) %}
                        <tr>
                        {% for query, name in skill_row %}
                            <td>{{ name }}:<br />{{ account[query] }} EXP</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                </article>
                {% if not loop.last %}
                <hr />
                {% endif %}
    {% endfor %}
{% endblock %}