{% extends 'base.html' %}
{% set active_page = "game" %}

{% block header %}
                <h1>{% block title %}{{ g.user['username'] }}: New Account{% endblock %}</h1>
{% endblock %}

{% block content %}
            <form method="post">
                <label for="account_name">Account name</label>
                <input name="account_name" id="account_name" value="{{ request.form['account_name'] }}" required />
                <input type="submit" value="Create Account" />
            </form>
{% endblock %}