html {
	font-family: sans-serif;
	background: rgb(58, 58, 58);
	padding: 1rem;
}
body {
	max-width: 960px;
	margin: 0 auto;
	background: white;
}
h1 {
	font-family: serif;
	color: #ebebeb;
	margin: 1rem 0;
}
a {
	color: #c79800;
}
hr {
	border: none;
	border-top: 1px solid rgb(128, 0, 0);
}
nav.titlebar {
	background: rgb(128, 0, 0);
	display: flex;
	align-items: center;
	padding: 0 0.5rem;
}
nav.titlebar h1 {
	flex: auto;
	margin: 0;
}
nav.titlebar h1 a {
	text-decoration: none;
	padding: 0.25rem 0.5rem;
}
nav.titlebar ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;
}
nav.titlebar ul li a, nav.titlebar ul li span, header .action {
	display: block;
	padding: 0.5rem;
}
.content {
	padding: 0 1rem 1rem;
	background-color: rgb(20, 20, 20);
	color: white;
}
.content h1 {
	color: black;
}
.content > header {
	border-bottom: 1px solid lightgray;
	display: flex;
	align-items: flex-end;
}
.content > header h1 {
	flex: auto;
	margin: 1rem 0 0.25rem 0;
	color: white;
}
.flash {
	margin: 1em 0;
	padding: 1em;
	background: #cae6f7;
    border: 1px solid #377ba8;
    color: gray;
}
.post > header {
	display: flex;
	align-items: flex-end;
	font-size: 0.85em;
}
.post > header > div:first-of-type {
	flex: auto;
}
.post > header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}
.post .about {
	color: slategray;
	font-style: italic;
}
.post .body {
	white-space: pre-line;
}
.content:last-child {
	margin-bottom: 0;
}
.content form {
	margin: 1em 0;
	display: flex;
	flex-direction: column;
}
.content label {
	font-weight: bold;
	margin-bottom: 0.5em;
}
.content input, .content textarea {
	margin-bottom: 1em;
}
.content textarea {
	min-height: 12em;
	resize: vertical;
}
input.danger {
	color: #cc2f2e;
}
input[type=submit] {
	align-self: start;
	min-width: 10em;
}
input[type=reset] {
	align-self: flex-start;
	min-width: 10em;
}
textarea[name=body] {
	height: 10em;
}
hr {
	background-color: darkred;
	height: 1px;
	border: 0;
}
.news_article h1 {
	color: rgb(219, 165, 27);
}
.header_link {
	text-decoration: none;
}
.news_article > header {
	display: flex;
	align-items: flex-end;
    font-size: 0.85em;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}
.news_article > header > div:first-of-type {
	flex: auto;
}
.news_article > header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
}
.news_article .about {
	color: slategray;
	font-style: italic;
}
.news_article .body {
    white-space: pre-line;
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
}
.navbar {
	background: #333;
	/* display: flex;
	*/
	align-items: center;
	/* padding: 0 0.5rem;
	*/
}
.navbar ul {
	display: flex;
	list-style: none;
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	color: white;
}
.navbar li {
	float: left;
}
.navbar li a {
	display: block;
	color: whitesmoke;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar li a:hover {
	background-color: #111;
}
.navbar .active {
	background-color: rgb(100, 100, 100);
}
.account {
	padding: 0;
	margin: 0;
}
.account > header {
	display: flex;
	align-items: flex-end;
	font-size: 0.85em;
}
.account > header > div:first-of-type {
	flex: auto;
}
.account > header h1 {
	font-size: 1.5em;
	margin-bottom: 0;
	color: whitesmoke;
}

.account > header h1 a {
    color: inherit;
    text-decoration: none;
}

.account .about {
	color: slategray;
	font-style: italic;
}
.account ul {
	list-style: none;
	list-style-type: none;
	overflow: hidden;
	color: white;
	padding: 0 0rem 0rem 0rem;
	margin-right: 0;
}

.account table {
    border-collapse: collapse;
    table-layout: fixed;
    align-content: flex-end;
}

.account table, th, td {
    border: 3px solid darkred;
}

.account td {
    width: 33.33%;
    width: calc(100% / 3);
    background-color: rgb(41, 41, 41);
    color: rgb(226, 226, 226);
}

.account td:hover {
    background-color: #c79800;
    color: whitesmoke;
}